{{> header.hbs}}

<table class="slds-table slds-table--bordered slds-table--cell-buffer slds-m-horizontal--xx-large" >
	<thead>
    	<tr class="slds-text-heading--label">
      		<th scope="col">
        		<div class="slds-truncate" title="Name">Name</div>
      		</th>
      		<th scope="col">
        		<div class="slds-truncate" title="Namespace Prefix">Namespace Prefix</div>
      		</th>
      		<th scope="col">
        		<div class="slds-truncate" title="Status">Status</div>
      		</th>
      		<th scope="col">
        		<div class="slds-truncate" title="ApiVersion">API Version</div>
      		</th>
    	</tr>
  	</thead>
  	<tbody>
		{{#records}}
			{{>apex/apexClass.hbs}}
		{{/records}}
  	</tbody>
</table>

{{> footer.hbs}}