
<div class="slds-align--absolute-center slds-m-top--large">
	powered by <a href="www.heroku.com"><img src="/img/herokuLogo.png" class="slds-m-left--small" style="height:20px" alt="Heroku" /></a>
</div>

</body>
</html>