
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />	
	<title>{{applicationName}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
</head>
<body>

	<div class="slds-align--absolute-center slds-m-top--xx-large">
		<a href="/home"><img src="/img/sfLogo.png" style="width:100px" alt="Salesforce" /></a>
	</div>
	<div class="slds-align--absolute-center slds-m-vertical--xx-large slds-text-heading--large">
		Salesforce Org Documenter
	</div>

