
{{> header.hbs}}

<div class="slds-align--absolute-center">

	<a href='/oauth/production'><button id="production" class="slds-button slds-button--neutral">Production</button></a>
	<a href="'/oauth/sandbox'><button id="sandbox" class="slds-button slds-button--neutral">Sandbox</button></a>
	
</div>

{{> footer.hbs}}

